@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #D9D9D9;
}

header {
  position: fixed;
}

html {
  height: 100vh;
}
html, body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}


body {
  z-index: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .pause{
    animation-play-state: paused;
  }
}
